<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genesys.widgets.acd.chat">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.genesys.widgets.acd.chat.GenesysAcdChatActivity" />
    </application>
</manifest>
